/**
 * The CSS in this file is for styling the demo page, 
 * Meny's critical styles (such as transforms) are applied
 * via JavaScript.
 *
 * See the documentation here: https://github.com/hakimel/meny#meny
 *
 * @author Hakim El Hattab | http://hakim.se
 */

* {
  margin: 0;
  padding: 0;
}

html, 
body {
  height: 100%;
  overflow: hidden;
}

body {
  background-color: #222;
  /*background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAQAAAAECAYAAACp8Z5+AAAAGklEQVQIW2NkYGD4D8SMQAwGcAY2AbBKDBUAVuYCBQPd34sAAAAASUVORK5CYII=);*/
  background-image: url(../img/dark_mosaic.png);
  background-repeat: repeat;

  font-family: 'Lato', Helvetica, sans-serif;
  font-size: 16px;
  color: #222;
}

/*a {
  color: #c2575b;
  text-decoration: none;

  -webkit-transition: 0.15s color ease;
     -moz-transition: 0.15s color ease;
      -ms-transition: 0.15s color ease;
       -o-transition: 0.15s color ease;
          transition: 0.15s color ease;
}
  a:hover {
    color: #f76f76;
  }
h1, 
h2 {
  font-size: 24px;
}
*/

.meny {
  display: none;
  padding: 35px 10px 20px 05px;
  margin-left: -5px;
  overflow: auto;
  /*background: #3D3D3D;*/
  background: #222;
  background-image: url(../img/dark_mosaic.png);
  color: #eee;

  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

/**
 * Hint graphic that appears while menu is inactive
 */
.meny-arrow {
  position: absolute;
  z-index: 100;

  border: 10px solid transparent;

  -webkit-transition: opacity 0.4s ease 0.4s; 
     -moz-transition: opacity 0.4s ease 0.4s; 
      -ms-transition: opacity 0.4s ease 0.4s; 
       -o-transition: opacity 0.4s ease 0.4s; 
          transition: opacity 0.4s ease 0.4s;
}
.meny-left .meny-arrow {
  left: 14px;
  top: 50%;
  margin-top: -16px;
  border-left: 16px solid #FFF;
}
.meny-right .meny-arrow {
  right: 14px;
  top: 50%;
  margin-top: -16px;
  border-right: 16px solid #FFF;
}
.meny-top .meny-arrow {
  left: 50%;
  top: 14px;
  margin-left: -16px;
  border-top: 16px solid #FFF;
}
.meny-bottom .meny-arrow {
  left: 50%;
  bottom: 14px;
  margin-left: -16px;
  border-bottom: 16px solid #FFF;
}
.meny-active .meny-arrow {
  opacity: 0;

  -webkit-transition: opacity 0.2s ease; 
     -moz-transition: opacity 0.2s ease; 
      -ms-transition: opacity 0.2s ease; 
       -o-transition: opacity 0.2s ease; 
          transition: opacity 0.2s ease;
}

/**
 * Main contents area
 */
.contents {
  background: #eee;
  background-image: url(../img/background.png);
  width: 100%;
  height: 100%;
  overflow-y: auto;
  
  -webkit-overflow-scrolling: touch;

  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}
  